*{
    margin: 0;
    padding: 0;
}

.navbar{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20vw;
    padding: 15px;
}
