*{
    margin: 0;
    padding: 0;
}

.navbar{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20vw;
    padding: 15px;
}
.navbar a{
    color: #000000;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-decoration: none;
    cursor: pointer;
}

.navbar a:hover{
    transition: 0.3s ease;
    transform: scale(1.1);
    color: #444444;
}

.navbar a:active{
    color: black;
}